<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        stopOnError="false"
        stopOnFailure="false"
        stopOnSkipped="false"
        bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="Project Euler Tests">
			<file>../src/MathFunctionsBundle/Tests/Functions/BasicFunctionsTest.php</file>
			<file>../src/MathFunctionsBundle/Tests/Functions/CollatzTest.php</file>
            <file>../src/SolutionsBundle/Tests/EulerProblems/AllSolutionsInOne.php</file>
        </testsuite>
    </testsuites>
    <php>
        <includePath>/Users/Threadhack/pear/share/pear</includePath>
    </php>
</phpunit>
